



/* general */





/* header */



.navbar-default {
   padding-left: 90px;
   background: #fff;
}

.navbar-header {
    background: #4aaaa5;
    color: #fff;

}

.navbar-brand {
    font-size: 36px;

}

.container-fluid .navbar-brand {
    color: #fff;

}

h1 {
  color: #4aaaa5;
}

.social {
  width:60px;
  height:62px;
}

.panel-default {
  width:270px;
  margin-right: 0px;
  padding-right: 0px;

}

#Bob {
  float:left;
}

/* footer */

footer {
  background: #666666;
  color:#fff;
  padding: 30px 0;
  clear:both;
  border-top: 8px solid #4aaaa5;
  color:#cccccc;
  font-size: 12px;
  text-align: center;
}

.btn-default {
    background: :#4aaaa5;
    border:0 none;
    color:#ffffff;
    font-size: 18px;
    padding:10px 30px;
    cursor:pointer;
}


/* sidebar */



